.contentWrapper {
  background-color: #2b2e44;
  height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  // padding-top: 46px;

  .listViewContainer {
    // width: 70%;
    margin: 0px auto;
    padding-top: 46px;

    .listTitle {
      height: 50px;
      // border: 1px solid green;
      // align-items: center;
      width: 94%;
      margin: auto;
      border-bottom: 1px solid #393c52;
      display: flex;
      margin-bottom: 14px;

      .filterContainer {
        width: 20%;
      }
      .titleContainer {
        width: 80%;
        display: flex;
        justify-content: start;
        p {
          margin: 0px;
          color: rgba(66, 165, 245, 1);
          font-weight: 600;
          font-size: 1.3rem;
        }
      }
    }

    .listContainer {
    }
  }

  .listViewDetail {
    width: 30%;
  }
}

.tree-list {
  width: 94%;
  padding: 0px;
  margin: auto;
}
