.contentWrapper {
  // background-color: #2b2e44;
  background-color: #1b1c30;
  height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  // padding-top: 46px;

  .listViewContainer {
    margin: 0px auto;
    padding-top: 46px;
    position: absolute;

    .listTitle {
      height: 50px;
      width: 94%;
      margin: auto;
      border-bottom: 1px solid #393c52;
      display: flex;
      margin-bottom: 14px;

      .filterContainer {
        width: 20%;
      }
      .titleContainer {
        width: 80%;
        display: flex;
        justify-content: start;
        p {
          margin: 0px;
          color: rgba(66, 165, 245, 1);
          font-weight: 600;
          font-size: 1.3rem;
        }
      }
    }
  }

  .listViewDetail {
    background-color: #1b1c30;
    width: 28%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.tree-list {
  padding: 0px;
  margin: auto;
}
