.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) -10px 0px 20px -5px;
}

.quizDetailContainer {
  height: 100%;
  width: 100%;
  color: white;
  padding: 10px 24px;
  box-shadow: rgba(0, 0, 0, 0.2) -10px 0px 20px -5px;

  .quizHeader {
    height: 70px;
    display: flex;
    padding-top: 16px;
    justify-content: flex-end;

    .expandArrowAlt {
      margin: auto;
    }
  }
  .quizId {
    height: 60px;
  }
  .userAndDate {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    .user {
      display: flex;
      width: 50%;
      align-items: center;
      p {
        margin: 0px;
        padding-left: 10px;
      }
    }
    .date {
      display: flex;
      width: 50%;
      align-items: center;
      p {
        margin: 0px;
        padding-left: 10px;
      }
      span {
        background-color: rgba(10, 151, 90, 0.4);
        border-radius: 50%;
        padding: 3px 6px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      .uil-calender {
        color: #0a975a;
        margin: auto;
        padding: 0px;
        height: 30px;
        width: 30px;
      }
    }
  }

  .selectionsToggle {
    display: flex;
    justify-content: space-evenly !important;
    margin-top: 30px;
  }
  .inputTemaId {
    display: flex;
    justify-content: space-evenly !important;
    margin-top: 40px;
  }

  .updateContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    button {
      background-color: #26273a;
      border: 1px solid #26273a;
      color: white;
      height: 45px;
      padding: 7px 24px;
      border-radius: 6px;

      .openInNewIcon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
}

.expandArrow {
  height: 30px;
  width: 30px;
  padding: 0px;
  display: flex;
  align-items: center;
  border-radius: 50%;

  :hover {
    color: #3381ff !important;
    cursor: pointer !important;
  }
}

.calendarSpan {
  background-color: rgba(10, 151, 90, 0.4) !important;
  border-radius: 50%;
  padding: 3px 6px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
