.temaItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background-color:#9464DD;
    transition: all 300ms ease;

    &:hover {
        background-color: #f21170;
        z-index: 10px;
        font-weight: 600;
        border: 2px solid #f21170;
        transform: translateX(8px);
    }
}

.temaItem-dark {
    background-color: #9464DD;
    color: white;

    &:hover {
        background-color: #f21170;
        z-index: 10px;
        font-weight: 600;
        border: 2px solid #f21170;
        transform: translateX(8px);
    }
}

.leading {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: blue;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        color: white;
    }
}

.main {
    margin-left: 15px;
    font-size: 1.1rem;
    
}

@media (max-width: 850px) {
    .temaItem {
        margin-left: 15px;
        margin-right: 15px;
    }
}
