.button {
    height: 50px;
    width: 50px;
}

.icon {
    height: 70%;
    width: 70%;
    filter: invert(0%) sepia(96%) saturate(22%) hue-rotate(68deg) brightness(101%) contrast(107%);
}

// .icon-dark {
//     height: 50px;
//     width: 50px;
//     filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
// }
