body {
	width: 100%;
	height: 100%;
}

.bodyPart{
  background-image: url('../../assets/background.jpg');
}

.bodyPart-dark {
  background-image: none !important;
  background-color: #1a202c !important;
}

.colorAcordion{
}

.colorAcordion-dark{
  background-color: #1F2733 !important;
  color: white !important;
}

.faqContainer {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;

  .faqTitle {
    animation: item-load 400ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #093366;*/
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0px;
  }
}

.faqTitle-dark {
  color: white !important;
}

@media (min-width: 1000px) {
  .faqContainer {
    width: 60% !important;
  }
}

@keyframes item-load {
  0%{
      transform: translateY(-20%);
      opacity: 0;
  }

  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}
