body {
  color: #1a1a1a;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
  /* background-color: #fafaef; */
}

.grados {
  display: flex;
  left: 0;
}

.tituloMaterias {
  top: 50%;
  display: flex;
  position: absolute;
}

.grid {
  background-color: #fafaef;
  opacity: 1;
  margin-top: 10vh;
}

#content {
  margin: 5vh auto;
  max-width: 600px;
  display: inline-block;
}

a {
  text-decoration: none;
}

div.roundedcorners {
  width: 210px;
  height: 210px;
  margin: 40px auto;
  position: relative;
}

div.roundedcorners img {
  border-radius: 50%;
  border: 4px #fff solid;
  -webkit-box-shadow: 0px 0px 20px 0px #777;
  box-shadow: 0px 0px 20px 0px #777;
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.roundedcorners h1 {
  text-align: center;
  margin-top: 3em;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.roundedcorners p {
  text-align: center;
  margin-top: 2em;
  color: #fff;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}