.editor {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(223, 223, 223);
}

.editorPanel {
    margin-top: 15px;
    background-color: white;
    height: 500px;
    padding: 7px;
    overflow-y: auto;
}
