.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 530px;
    width: 360px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

    .login-button {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      button {
        margin-left: 240px;
        height: 30px;
        width: 100px;
        background-color: white;
        border: 1px solid #747474;
      }
    }

    .login-text {
      display: flex;
      align-items: center;
      justify-content: center;

      .login-icon {
        font-size: 40px;
        padding-left: 40px;
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 360px;

      input[type='text'],
      input[type='password'] {
        width: 300px;
        height: 40px;
        color: black;
        font-size: 14px;
        border-radius: 4px;
        background-color: #f0f2f6;
        border: none;
        padding-left: 10px;

        &:focus {
          border: none;
          outline: none;
        }
      }

      input[type='submit'] {
        background-color: #3864cf;
        width: 300px;
        height: 40px;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: 16px;

        &:focus {
          border: none;
          outline: none;
        }
      }

      .link-password {
        padding-left: 160px;
        color: #3864cf;
        font-size: 15px;
        text-decoration: none;
      }
    }

    p {
      font-size: 16px;
      padding-top: 20px;
    }
    .link-register {
      color: #3864cf;
      text-decoration: none;
    }
  }
}
