
.login-container {
  height: calc(100vh - 124px);
  display: grid;
  grid-template-columns: auto auto;

  .left-section {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 124px);

    .title-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      h2 {
        font-size: 34px;
        font-weight: 700;
        margin: 10px;
      }
    }
  }

  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: calc(100vh - 124px);

    .skip-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      // skip.scss is applied here
    }

    .login-text {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-weight: 700;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 360px;

      input[type='text'],
      input[type='password'] {
        width: 300px;
        height: 40px;
        color: black;
        font-size: 14px;
        border-radius: 4px;
        background-color: #f0f2f6;
        border: none;
        padding-left: 16px;

        &:focus {
          border: none;
          outline: none;
        }
      }

      input[type='submit'] {
        background-color: #3864cf;
        width: 300px;
        height: 40px;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: 16px;

        &:focus {
          border: none;
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .link-password {
        padding-left: 160px;
        color: #333333;
        font-size: 15px;
        text-decoration: none;
      }
    }

    p {
      font-size: 16px;
      padding-top: 20px;
    }
    .link-register {
      color: #3864cf;
      text-decoration: none;
    }
  }
}

