.rewardsButton {
  width: 95%;
  border-radius: 14px;
  z-index: 1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none !important;
  cursor: default !important;
  &:active {
    border-bottom: none;
  }
  .rewardsInside {
    display: flex;
    justify-content: center;
    align-items: center;
    .points {
      display: none;
      color: white;
      font-weight: 700;
      font-size: 22px;
      padding-right: 10px;
      margin: 0;
    }
    .uilStar {
      color: yellow;
      width: 40px;
      height: 40px;
    }
    .uilSettings {
      color: white;
    }
  }
}

@media (min-width: 640px) {
  .points {
    display: flex !important;
  }
}
