.pointsPanel {
  height: 40px;
  display: none;
  align-items: center;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  .myPointsPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #523f9f;
    border-radius: 12px;
    height: 40px;
    width: 100%;
    margin: 0;

    .uilStar {
      color: white;
      display: none;
    }
    p {
      color: white;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin: 0;
      padding-left: 10px;
    }
  }
  // .avatarPanel {
  //   display: none;
  //   background-color: rgb(255, 229, 102);
  //   border-radius: 50%;
  //   z-index: 100;
  //   img {
  //     width: 40px;
  //     height: 40px;
  //   }
  // }
}

@media (min-width: 640px) {
  .pointsPanel {
    width: 15%;
    display: flex;
  }
}

@media (min-width: 768px) {
  .pointsPanel {
    width: 13%;
    display: flex;
    .myPointsPanel {
      .uilStar {
        display: flex;
      }
    }
  }
}

@media (min-width: 962px) {
  .pointsPanel {
    .avatarPanel {
      display: flex;
    }
  }
}

@media (min-width: 1100px) {
  .pointsPanel {
    width: 145px;
    .myPointsPanel {
      width: 120px;
    }
    .avatarPanel {
      display: flex;
    }
  }
}
