@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingSpinner {
    margin: auto;
    align-self: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 7px solid;
    border-color: black transparent black transparent;
    animation: spinner 1.5s linear infinite;
}


.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  