.register-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;

  .left-section {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    .title-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      h2 {
        font-size: 34px;
        font-weight: 700;
        margin: 10px;
      }
    }
  }

  .right-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: white;
    height: 630px;
  
    .skip-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      button {
        margin-left: 190px;
        height: 33px;
        width: 120px;
        background-color: white;
        border: 1px solid #747474;

        &:hover {
          background: #202431;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  
    .login-text {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 30px;
      }
    }
  
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 360px;
  
      input[type='text'],
      input[type='password'] {
        width: 300px;
        height: 40px;
        color: black;
        font-size: 14px;
        border-radius: 4px;
        background-color: #f0f2f6;
        border: none;
        padding-left: 16px;
  
        &:focus {
          border: none;
          outline: none;
        }
      }
  
      input[type='submit'] {
        background-color: #3864cf;
        width: 300px;
        height: 40px;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: 16px;
  
        &:focus {
          border: none;
          outline: none;
        }
      }
  
      .link-password {
        padding-left: 160px;
        color: #3864cf;
        font-size: 15px;
        text-decoration: none;
      }
    }
  
    p {
      font-size: 16px;
      padding-top: 20px;
    }
    .link-register {
      color: #3864cf;
      text-decoration: none;
    }
  }
}
  

  
  