.profileWrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  // background-color: #f3fbff;
  background-color: rgb(204, 237, 240);
  background: url(../../assets/background2.png) repeat;

  .navigationTop {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    height: 90px;
    align-items: center;
  }

  .userProfileWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    .userAvatarWrapper {
      width: 90%;
      height: 400px;
      margin: auto;
      border-radius: 12px;
      display: flex;

      .userAvatar {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .userBasicInfo {
        width: 50%;
        margin: auto;
        .userInfo {
          width: 90%;
          margin: auto;

          input {
            width: 100%;
            margin: 10px 0px;
            padding: 7px 16px;
            outline: none;
            border: none;
            border-radius: 5px;
            color: black;
            // border-color: #e1e2e3;
          }
          label {
            color: #39414b !important;
          }
          select {
            width: 200px;
            height: 40px;
            border-color: #e1e2e3;
            color: black;
            padding-left: 10px;
            padding-right: 16px;
            outline: none;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .userProfileRight {
    width: 30%;
    background-color: #1f2733;
    height: 100%;
  }
}

.saveChangesWrapper {
  height: 100px;
  display: flex;
  justify-content: center;
}
.saveChangesWrapperHidden {
  display: none;
}

.role-title {
  text-transform: capitalize;
}
