.cuarto-container {
  height: calc(100vh - 101px);
  background-color: #f1eff3 !important;
  margin: 0px;
}

.cuarto-container .left-section {
  padding: 26px !important;
}

.cuarto-container .left-section img {
  display: block;
  width: 340px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
}

.cuarto-container .left-section .info {
  font-size: 20px;
  margin-top: 20px;
}

.right-section {
  padding: 26px !important;
}

.right-section .temas {
  display: flex;
  justify-content: start;
  color: black;
  font-size: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #000;
}