.inputTema {
  height: 40px;
  padding: 16px 10px;
  width: 150px;
  outline: none !important;
  border-radius: 5px;

  font-weight: 600;
  background-color: #393c52;
  color: white;
  border: 1px solid #393c52;

  &:focus {
    color: rgba(66, 165, 245, 1);
  }
}
