body {
	width: 100%;
	height: 100%;
}

.bodyPart{
    background-image: url('../../assets/background.jpg');
}

.bodyPart-dark {
    background-image: none !important;
    background-color: #1a202c !important;
}

.aboutContainer {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 70%;


    .aboutTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        /*color: black;*/
        color: white;
        font-weight: 700;
        font-size: 40px;
        padding: 20px 0px;
    }

    .aboutText1{
        display: flex;
        /*color: black;*/
        color: white;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 200px;
    }

    .aboutText2{
        display: flex;
        /*color: black;*/
        color: white;
        justify-content: space-between;
        text-align: justify;
        text-justify: inter-word;
        align-items: center;
        padding: 0px 200px;
    }
}

.aboutTitle-dark {
    color: white !important;
}

.aboutText1-dark {
    color: white !important;
}

.aboutText1-dark {
    color: white !important;
}