.ytp-chrome-top {
  display: none !important;
  background-color: green;
}

.ytp-show-cards-title {
  display: none !important;
}

.youtubeVideo {
  width: 86% !important;
  height: calc(69vh) !important;
}
