select {
  width: 180px;
  height: 40px;
  margin: 0 10px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  color: white;
  border-color: #26273a;
  background-color: #26273a;
  // border-color: #393c52;
  // background-color: #393c52;
}
