.inputTema {
  height: 40px;
  width: 180px !important;
  padding: 16px 10px;
  outline: none !important;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: 600;
  // background-color: #26273a;
  color: white;
  // border: 1px solid #26273a;
  border-color: #1f2733;
  background-color: #1f2733;

  &:focus {
    color: rgba(66, 165, 245, 1);
  }
}
