.numberOfExercisesPanel {
  display: flex;
  margin: auto;
  flex-direction: column;

  .inputNumberOfExercisesTitle {
    display: flex;
    color: white;
    height: 33px;
    font-weight: 600;
  }

  .inputNumberOfExercises {
    display: flex;

    .radio_input {
      display: none;
    }

    .radio_input:checked + .radio_label {
      color: white;
      background-color: #5597f2;
      border: #457ae5;
      // border: 4px solid #457ae5;
    }
    .radio_label {
      width: 50px;
      background-color: #393c52;
      height: 38px;
      display: flex;
      cursor: pointer;
      margin: 1px;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0;
      // color: #39414b;
      color: white;
      border: 2px solid #393c52;
      border-radius: 8px;
      transition: background 0.1s;
    }
    .radio_label:last-of-type {
      margin-right: 0;
    }
    .radio_label:first-of-type {
      margin-left: 0;
    }
  }
}
