.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) -10px 0px 20px -5px;
}

.expandArrow {
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  :hover {
    color: #3381ff !important;
    cursor: pointer !important;
  }
}

.calendarSpan {
  background-color: rgba(10, 151, 90, 0.4) !important;
  border-radius: 50%;
  padding: 3px 6px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

button {
  background-color: #26273a;
  border: 1px solid #26273a;
  color: white;
  height: 45px;
  padding: 7px 24px;
  border-radius: 6px;

  .openInNewIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}
